<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236607339802-v6t50li041qosog2g9rkcdojcn90h69i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236607339802-v6t50li041qosog2g9rkcdojcn90h69i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>236607339802-lplodp8s1errvpktqiga8hjh9tffencj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5z1GTskMsUoe3hzltoLiso43Q-WnJspY</string>
	<key>GCM_SENDER_ID</key>
	<string>236607339802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.readings.readings</string>
	<key>PROJECT_ID</key>
	<string>readings-192d2</string>
	<key>STORAGE_BUCKET</key>
	<string>readings-192d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236607339802:ios:9bbdc00af01438ac4b80a3</string>
</dict>
</plist>