<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Asteria</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.236607339802-v6t50li041qosog2g9rkcdojcn90h69i</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.readings.readings</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.readings.readings</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>readings</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>readings</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle id</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.readings.readings</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is needed to capture visuals for a more accurate tour experience.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access allows you to ask Venli questions using your voice.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>For saving photos</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Asteria accessing your location to provide your current address details.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Asteria accessing your location to provide your current address details.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Asteria accessing your location to provide your current address details.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Chillax-Variable</string>
		<string>fonnts.com-Chillax-Bold</string>
		<string>Chillax.ttf</string>
		<string>WorkSans-Bold.ttf</string>
		<string>WorkSans-Light.ttf</string>
		<string>WorkSans-Medium.ttf</string>
		<string>WorkSans-Regular.ttf</string>
		<string>WorkSans-SemiBold.ttf</string>
		<string>fonnts.com-Chillax-Bold.ttf</string>
		<string>Chillax-Variable.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
